- if @upload_file.new_record?
  = form_for @upload_file, :url => class_room_upload_files_path(@class.id), :method=>:post , :html => { :multipart => true } do |f|
    -if @upload_file.errors.any?
      #error_explanation
        %h2= "#{pluralize(@upload_file.errors.count, "error")} prohibited this upload_file from being saved:"
        %ul
          - @upload_file.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :file
      = f.file_field :file
      = f.hidden_field :class_room_id,:value =>@class.id
    .field
      = f.hidden_field :user_id ,:value =>current_user.id
    .actions
      = f.submit 'Save'
-else
  = form_for @upload_file, :url => class_room_upload_file_path(@class.id ,@upload_file.id), :method=> :put , :html => { :multipart => true } do |f|
    -if @upload_file.errors.any?
      #error_explanation
        %h2= "#{pluralize(@upload_file.errors.count, "error")} prohibited this upload_file from being saved:"
        %ul
          - @upload_file.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :file
      = f.file_field :file
    .field
      = f.hidden_field :user_id ,:value =>current_user.id
    .actions
      = f.submit 'Save'
