%table{:width => "50%"}
  -if current_user.id.eql?(@upload_file.user_id)
    %tr
      %td
        %b= @upload_file.title
      %td{:align => "right"}
        = link_to "New", new_class_room_upload_file_path(@class.id)
        | #{link_to "Edit", edit_class_room_upload_file_path(@class.id, @upload_file)} | #{link_to "Delete", class_room_upload_file_path(@class.id, @upload_file), :confirm => "Are you sure ?", :method => :delete}
 
  %tr
    %td{:colspan => "2"}
      From: #{@upload_file.user.full_name}
  %tr
    %td{:colspan => "2"}
      = 'Date:'
      = date_format(@upload_file.created_at)
  
  %tr
    %td{:colspan => "2"}
      %hr{:noshade => ""}
  
  %tr
    %td{:colspan => "2"}
      %hr{:noshade => ""}
  %tr
    %td{:colspan => "3"}
      #comments_container
        - @upload_file.comments.each do |comment|
          %table{:width => "100%"}
            %tr
              %td{:rowspan => "3"}= image_tag "bakso.jpg", :width => "48", :height => "48"
              %td{:colspan => "3"}
                = "#{comment.user.full_name}"
                = date_format(comment.created_at)
               
            %tr
              %td= comment.comment
              %td{:align => "right"}
                - if current_user.id.eql?(comment.user_id)
                | #{link_to "Delete",class_room_comment_destroy_upload_files_path(@class.id, @upload_file, comment.id), :method => :delete}
                - elsif current_user.is_teacher?
                  =link_to "Delete", class_room_comment_destroy_upload_files_path(@class.id, @upload_file, comment.id), :method => :delete
                - else
                  -true
                
            %tr
              %td{:colspan => "3"}
                %hr{:noshade => ""}
- unless current_user.is_observer?
  %h1 Leave a comment
  = form_tag(comment_create_class_room_upload_file_path(@class.id, @upload_file)) do |f|
    .field
      = text_area_tag "comment", nil, :rows => 4, :cols => 40
    .actions
      = submit_tag "Add this Comment"
      %span#assignment_comment_ajax_loader{:style => "display: none"}= image_tag "LoaderIcon.gif"
