
.headings
  %h1 Files
  %br
  %h2
  - unless current_user.is_observer?
    = link_to 'Upload a File', new_class_room_upload_file_path(@class.id)
  %br
  %h4
    = notice
    = alert

#user_content
  .tables
    %table.assignments
      %tr.white
        %th File
        %th Uploaded by
        %th Posted

      - @upload_files.each do |upload_file|
        %tr.desc
          %td
            %b
              - unless current_user.is_observer?
                = link_to upload_file.title ,download_class_room_upload_files_path(@class.id, :path => upload_file.file.path, :id =>upload_file.id)
              
            = "(#{upload_file.file_file_size}kb)"
          %td
            %center
              = user_full_name(upload_file.user)
          %td
            %center
              #{distance_of_time_in_words(upload_file.created_at, Time.now)} ago
          -if current_user.id.eql?(upload_file.user_id)
            %td= link_to 'Edit', edit_class_room_upload_file_path(@class.id ,upload_file)
            %td= link_to 'Delete', class_room_upload_file_path(@class.id ,upload_file), :confirm => 'Are you sure?', :method => :delete
          -elsif current_user.is_teacher?
            %td
            %td= link_to 'Delete', class_room_upload_file_path(@class.id ,upload_file), :confirm => 'Are you sure?', :method => :delete
          -else
            -true