%h1 All files

%table
  %tr
    %th Filename
    %th{:width =>'250px;'}
    %th
    %th

  - @upload_files.each do |upload_file|
    %tr
      %td= content_type(upload_file)
      %td
        %b
          - unless current_user.is_observer?
            = link_to upload_file.title ,class_room_upload_file_path(@class.id ,upload_file)
          - else
            - if @student
              = link_to upload_file.title ,show_student_upload_file_class_room_upload_file_path(@class.id ,upload_file, @student.id)
            - elsif @teacher
              = link_to upload_file.title ,show_teacher_upload_file_class_room_upload_file_path(@class.id ,upload_file, @teacher.id)
        = "(#{upload_file.file_file_size}kb)"
        %br
        = 'by'
        = user_full_name(upload_file.user)
        = 'on'
        = date_format(upload_file.created_at)
      -if current_user.id.eql?(upload_file.user_id)
        %td= link_to 'Edit', edit_class_room_upload_file_path(@class.id ,upload_file)
        %td= link_to 'Destroy', class_room_upload_file_path(@class.id ,upload_file), :confirm => 'Are you sure?', :method => :delete
      -elsif current_user.is_teacher?
        %td
        %td= link_to 'Destroy', class_room_upload_file_path(@class.id ,upload_file), :confirm => 'Are you sure?', :method => :delete
      -else
        -true
      - unless current_user.is_observer?
        %td= link_to "Go To File", comment_new_class_room_upload_file_path(@class.id, upload_file.id)
      - else
        - if @student
          %td= link_to "Go To File", go_to_student_upload_file_class_room_upload_file_path(@class.id, upload_file.id, @student.id)
        - elsif @teacher
          %td= link_to "Go To File", go_to_teacher_upload_file_class_room_upload_file_path(@class.id, upload_file.id, @teacher.id)
      - unless current_user.is_observer?
        %td= link_to "download", download_class_room_upload_files_path(@class.id, :path => upload_file.file.path, :id =>upload_file.id)
      
%br

- unless current_user.is_observer?
  = link_to 'New Upload file', new_class_room_upload_file_path(@class.id)

%p
  %b Sort by
- unless current_user.is_observer?
  =form_tag class_room_upload_files_path(@class.id) ,:method=>:get ,:remote => true do

    = radio_button_tag 'sorting_file', 'date_time',"#{params[:sorting_file]}".eql?('date_time'), :onchange =>'this.form.submit()'
    = 'date-time'
    %br
    = radio_button_tag 'sorting_file', 'AZ',"#{params[:sorting_file]}".eql?('AZ'), :onchange =>'this.form.submit()'
    = 'A-Z'
    %br
    = radio_button_tag 'sorting_file', 'file_size', "#{params[:sorting_file]}".eql?('file_size'), :onchange =>'this.form.submit()'
    = 'file size'
- else
  - if @student
    =form_tag student_upload_files_index_class_room_upload_files_path(@class.id, @student.id) ,:method=>:get ,:remote => true do

      = radio_button_tag 'sorting_file', 'date_time',"#{params[:sorting_file]}".eql?('date_time'), :onchange =>'this.form.submit()'
      = 'date-time'
      %br
      = radio_button_tag 'sorting_file', 'AZ',"#{params[:sorting_file]}".eql?('AZ'), :onchange =>'this.form.submit()'
      = 'A-Z'
      %br
      = radio_button_tag 'sorting_file', 'file_size', "#{params[:sorting_file]}".eql?('file_size'), :onchange =>'this.form.submit()'
      = 'file size'
  - elsif @teacher
    =form_tag teacher_upload_files_index_class_room_upload_files_path(@class.id, @teacher.id) ,:method=>:get ,:remote => true do

      = radio_button_tag 'sorting_file', 'date_time',"#{params[:sorting_file]}".eql?('date_time'), :onchange =>'this.form.submit()'
      = 'date-time'
      %br
      = radio_button_tag 'sorting_file', 'AZ',"#{params[:sorting_file]}".eql?('AZ'), :onchange =>'this.form.submit()'
      = 'A-Z'
      %br
      = radio_button_tag 'sorting_file', 'file_size', "#{params[:sorting_file]}".eql?('file_size'), :onchange =>'this.form.submit()'
      = 'file size'
%p
  %b Categories
- unless current_user.is_observer?
  =link_to 'Documents', class_room_upload_files_path(@class.id, :category =>'documents')
  %br
  =link_to 'Compress file', class_room_upload_files_path(@class.id, :category =>'compress_files')
  %br
  =link_to 'Pdf file', class_room_upload_files_path(@class.id, :category =>'pdf')
  %br
  =link_to 'Images file', class_room_upload_files_path(@class.id, :category =>'images')
- else
  - if @student
    =link_to 'Documents', student_upload_files_index_class_room_upload_files_path(@class.id, @student.id, :category =>'documents')
  - elsif @teacher
    =link_to 'Documents', teacher_upload_files_index_class_room_upload_files_path(@class.id, @teacher.id, :category =>'documents')
  %br
  - if @student
    =link_to 'Compress file', student_upload_files_index_class_room_upload_files_path(@class.id, @student.id, :category =>'compress_files')
  - elsif @teacher
    =link_to 'Compress file', teacher_upload_files_index_class_room_upload_files_path(@class.id, @teacher.id, :category =>'compress_files')
  %br
  - if @student
    =link_to 'Pdf file', student_upload_files_index_class_room_upload_files_path(@class.id, @student.id, :category =>'pdf')
  - elsif @teacher
    =link_to 'Pdf file', teacher_upload_files_index_class_room_upload_files_path(@class.id, @teacher.id, :category =>'pdf')
  %br
  - if @student
    =link_to 'Images file', student_upload_files_index_class_room_upload_files_path(@class.id, @student.id, :category =>'images')
  - elsif @teacher
    =link_to 'Images file', teacher_upload_files_index_class_room_upload_files_path(@class.id, @teacher.id, :category =>'images')

- if current_user.is_observer?

  %p
    %b Note's attached files
  - @notes.each do |file|
    =file.file_file_name
    %br

  %p
    %b Discussion's attached files
  - @discussions.each do |file|
    = file.file_file_name
    %br

  %p
    %b Event's attached files
  - @events.each do |file|
    = file.file_file_name
    %br
- else

  %p
    %b Note's attached files
  - @notes.each do |file|
    = link_to file.file_file_name,download_class_room_note_path(@class.id, file.id)
    | #{link_to 'remove',remove_file_class_room_note_path(@class.id, file.id), :confirm => "Are you sure ?", :method => :put}
    %br

  %p
    %b Discussion's attached files
  - @discussions.each do |file|
    = link_to file.file_file_name,download_class_room_discussion_path(@class.id, file.id)
    | #{link_to 'remove',remove_file_class_room_discussion_path(@class.id, file.id), :confirm => "Are you sure ?", :method => :put}
    %br
  %p
    %b Event's attached files
  - @events.each do |file|
    = link_to file.file_file_name, download_class_room_event_path(@class.id, file.id)
    | #{link_to 'remove',remove_file_class_room_event_path(@class.id, file.id), :confirm => "Are you sure ?", :method => :put}

    %br
