- if (current_user.is_teacher? and !current_user.class_rooms.blank?) or (current_user.is_student? and !current_user.class_room_students.blank?) or (current_user.is_observer? and !current_user.class_room_observers.blank?)
  - content_for :calendar_js_and_css do
    = stylesheet_link_tag "event_calendar"
    = javascript_include_tag "event_calendar"
  %body
    #container
      .header
        = link_to image_tag('cclogo_xsmall.png'), root_path
        .right
          %h3
            - if current_user.is_observer?
              = link_to "Switch user", root_path
            = user_full_name(current_user)
            |
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
    #main_content
      .headline
        .headings
          %br
          %h1
            The Dashboard
        .classes
          - unless current_user.is_observer? 
            .headings
              %h3 My Classes
              %hr
            %br
            %h2
              - @my_class_rooms.each_with_index do |class_room, index|
                %div
                  %fieldset
                    %legend
                      = link_to "#{class_room.name}", class_room_path(class_room.id)
            %br
            %hr
            = link_to image_tag('matt_tutoring.png'), "mailto:coffka45@hotmail.com?Subject=SAT%20ClassCloud" if current_user.is_student?
          %br
          %h3
            = link_to "Add new class", new_class_room_path if current_user.is_teacher?
          %br
          %br
          %br
          %br
        .calendar_dashboard
          = raw(user_event)
          %br
          -if current_user.is_teacher?
            %br
            %br
         
            %br
        
            .feed
         
          
              - if !@student.blank? and @teacher.blank?
                .clear
                %br
                %br
                %br
                %div{:style => "text-align:left"}
                  %h2 "#{@student.first_name}"'s Classes
                  %div{:style => "width: 800px"}
                    - @my_class_rooms.each_with_index do |class_room, index|
                      %div{:style => "float: left;width: 300px"}
                        %fieldset{:style => "width:150px; height: 50px"}
                          %legend
                            = link_to "Class #{class_room.name}", class_room_student_path(class_room.id, @student.id)
                %br
                %br
                %br
                %br
                %br
               
              - elsif @student.blank? and !@teacher.blank? and !@my_class_rooms.nil?
                .clear
                %br
                %br
                %div{:style => "text-align:left"}
                  %h2= "#{@teacher.first_name}'s Classes"
                  %div{:style => "width: 800px"}
                    - @my_class_rooms.each_with_index do |class_room, index|
                      %div{:style => "float: left;width: 300px"}
                        %fieldset{:style => "width:150px; height: 50px"}
                          %legend
                            - unless class_rooms(class_room).blank?
                              = link_to "Class #{class_room.name}", class_room_teacher_path(class_room.id, @teacher.id)
                          %br
                          %br
                          %br
                          %br
                          %br
                          %br
                  - elsif @student and @teacher and !@my_class_rooms.nil?
                    .clear
              
            
  
  - elsif current_user.is_teacher?
  #sitewrapper
    .header
      .nav
      = user_full_name(current_user)
      = link_to_function "Settings", edit_user_registration_path
      = link_to "Sign Out", destroy_user_session_path, :method => :delete
      %div{:class => "clear"}
      %br
      %br
      %div{:style => "text-align:left"}
        %h2 Welcome to ClassCloud!
        %h3 To get started, you'll need to add a class.
        = form_tag(class_rooms_path, :method => :post) do
          - if !@error_messages.blank?
            #error_explanation
              %h2
                = pluralize(@error_messages.count, "error")
                prohibited this create class from being saved:
              %ul
                - @error_messages.each do |msg|
                  %li= msg
          %div
            = "Add a class"
            - unless params[:class_room].blank?
              = text_field_tag "class_room[name]", params[:class_room][:name],:class =>'class_name',:onkeyup=>"addClassRoom();"
            - else
              = text_field_tag "class_room[name]", nil,:class =>'class_name',:onkeyup=>"addClassRoom();"
          %div#submit{:style => "text-align:right;display:none;"}
            = submit_tag "submit",:onclick =>'return checkTextField()',:id=>'submit_class_name'

  - elsif (current_user.is_observer? and current_user.class_room_observers.blank?)

  #sitewrapper
    .header
      .nav
        %h1
          - if current_user.is_observer?
            = link_to "Switch user", root_path
          = user_full_name(current_user)
          |
          = link_to "Sign Out", destroy_user_session_path, :method => :delete
          - unless current_user.is_observer?
            .clear
            %br
            %br
      .main
        %p
          %br
          = "after you are invited by your teacher, you will receive confirmation from us.thank you"