/- content_for :middle_content do
%h3 All Draft
%table{:border=>'1',:width=>'400'}
  -@drafts.each do |draft|
    %tr
      -if draft.received_messageable_id.eql?(current_user.id)
        %td Draft
        %td
          -if draft.topic.nil?
            ='(no subject)'
          -else
            %b
              = '('
              = draft.topic
              = ')'
              = '-'
          =link_to truncate(strip_tags(draft.body), :length => 80),class_room_draft_detail_path(@class.id,draft.id)
          =link_to 'Edit message',edit_class_room_message_path(@class.id,draft)
          =link_to 'Delete',class_room_message_path(@class.id,draft),:confirm => 'Are you sure?', :method => :delete
%center
  ='New Draft'
  = form_tag class_room_messages_path do
    = hidden_field_tag 'message[receiver]'
    = label_tag 'Title :'
    = text_field_tag 'message[topic]', nil, :placeholder => 'Enter the subject'
    %br
    = label_tag 'Body :'
    = text_area_tag 'message[body]', nil,:size => "25x10"
    %br
    = submit_tag "Save"
          