/- content_for :middle_content do
= form_for @message, :url => class_room_message_path(@class.id, @message), :method => :put do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this discussion from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :topic
    %br/
    = f.text_field :topic
  .field
    = f.label :body
    %br/
    = f.text_area :body
    = f.hidden_field :user_id,:value=>current_user.id

    %table{:border=>'1'}
      %tr
        %td
          ='Receiver(s)'
          %input#Check_ctr{:name => "Check_ctr", :onClick => "Check();", :type => "checkbox"}
      - @counter = 0
      -@users.each do |user|
        - @counter += 1
        -unless current_user.id.eql?(user.id)
          %tr
            %td
              =user.first_name
              %input{:id => "chk_id#{@counter}", :name => "chk_ids[]", :type => "checkbox", :value => user.id, :class =>'check_msg',:onclick => "$('#Check_ctr').attr('checked', false)"}
    %input#ttl{:type => "hidden", :value => "#{@counter} "}
   
  .actions
    = f.submit 'Save'