/- content_for :middle_content do
%br
%br
%div#notice= notice
%div#notice= alert
%h2 Private Message
- unless current_user.is_observer?
  = link_to 'New message', new_class_room_message_path(@class.id)
- else
  - if @student
    = link_to 'New message', student_observer_message_new_class_room_messages_path(@class.id, @student.id)
  - elsif @teacher
    = link_to 'New message', teacher_observer_message_new_class_room_messages_path(@class.id, @teacher.id)
%br
- unless current_user.is_observer?
  = link_to 'Sent mail', sent_class_room_messages_path(@class.id)
- else
  - if @student
    = link_to "Sent mail", student_observer_message_sent_class_room_messages_path(@class.id, @student.id)
  - elsif @teacher
    = link_to "Sent mail", teacher_observer_message_sent_class_room_messages_path(@class.id, @teacher.id)
/%br
/= link_to 'Draft', draft_class_room_messages_path(@class.id)
= form_tag destroy_all_data_class_room_messages_path(@class.id) do
  %p inbox
  %table{:border=>'1',:width=>'400'}
    %tr
    %td
      %b From
    %td
      %b Subject
    %td
      %b Description
    %td
      %b Sent at
    %td
      %b File
    %td
      %b Delete
      %input#Check_ctr{:name => "Check_ctr", :onClick => "Check();", :type => "checkbox"}
      - @counter = 0
    -@inboxes.each do |inbox|
      
      -if inbox.sent_messageable_id.eql?(current_user.id)
        -true
      -else
        - @counter += 1
        %tr

          %td
            -if current_user.messages.find(inbox.id).opened
              -user_sender(inbox.sent_messageable_id).each do |sender|
                = user_full_name(sender)
            -else
              %b
                -user_sender(inbox.sent_messageable_id).each do |sender|
                  = user_full_name(sender)

          %td
            -if current_user.messages.find(inbox.id).opened
              = inbox.topic
            -else
              %b
                =inbox.topic
          %td
            -if current_user.messages.find(inbox.id).opened
              - if params[:student_id]
                =link_to truncate(strip_tags(inbox.body), :length => 80), student_inbox_detail_observer_class_room_message_path(@class.id, inbox.id, "#{params[:student_id]}")
              - elsif params[:teacher_id]
                =link_to truncate(strip_tags(inbox.body), :length => 80), teacher_inbox_detail_observer_class_room_message_path(@class.id, inbox.id, "#{params[:teacher_id]}")
              - else
                =link_to truncate(strip_tags(inbox.body), :length => 80), class_room_inbox_detail_path(@class.id, inbox.id)

            -else
              %b
                - if params[:student_id]
                  =link_to truncate(strip_tags(inbox.body), :length => 80), student_inbox_detail_observer_class_room_message_path(@class.id, inbox.id, "#{params[:student_id]}")
                - elsif params[:teacher_id]
                  =link_to truncate(strip_tags(inbox.body), :length => 80), teacher_inbox_detail_observer_class_room_message_path(@class.id, inbox.id, "#{params[:teacher_id]}")
                - else
                  =link_to truncate(strip_tags(inbox.body), :length => 80), class_room_inbox_detail_path(@class.id, inbox.id)

          %td
            -if current_user.messages.find(inbox.id).opened
              =date_format(inbox.created_at)
            -else
              %b
                =date_format(inbox.created_at)
          %td
            -unless file(inbox.id).nil?
              =link_to file(inbox.id).file_file_name,download_class_room_message_path(@class.id, file(inbox.id).id)
          %td{:align => "right"}
            %input{:id => "chk_id#{@counter}", :name => "chk_ids[]", :type => "checkbox", :value => inbox.id, :class =>'check_msg',:onclick => "$('#Check_ctr').attr('checked', false)"}
    %input#ttl{:type => "hidden", :value => "#{@counter} "}
    =submit_tag 'Delete'
%br
%br