/- content_for :middle_content do
%br
%br
%center
  - if current_user.is_teacher?
    = form_tag class_room_messages_path(@class.id),:name =>'form1',:multipart =>true do
      = hidden_field_tag 'teacher_id',current_user.id
      = label_tag 'Title :'
      = text_field_tag 'message[topic]', nil, :placeholder => 'Enter the subject'
      %br
      = label_tag 'Body :'
      = text_area_tag 'message[body]', nil, :size => "25x10"
      %br
      = label_tag 'File :'
      = file_field_tag 'message[file]'
      %br
      %table{:border=>'1'}
        %tr
          %td{:align => "center"}
            ='Send to all'
            %input#Check_ctr{:name => "Check_ctr", :onClick => "checkAll();", :type => "checkbox"}
        - counter = 0
        - @users.each do |user|
          - counter += 1
          - unless current_user.id.eql?(user.id) and user.is_observer?
            %tr
              %td
                =user.first_name
                %input{:id => "chk_id#{@counter}", :name => "chk_ids[]", :type => "checkbox",  :value => user.id, :class =>'check_msg',:onclick => "$('#Check_ctr').attr('checked', false)"}

      %input#ttl{:type => "hidden", :value => "#{counter} "}
      = submit_tag "Save",:onclick=>"return checkField()"
  - elsif current_user.is_observer?
    - if @student
      = form_tag student_observer_message_create_class_room_messages_path(@class.id, @student.id),:multipart =>true  do

        = label_tag 'Title :'
        = text_field_tag 'message[topic]', nil, :placeholder => 'Enter the subject'
        %br
        = label_tag 'Body :'
        = text_area_tag 'message[body]', nil, :size => "25x10"
        %br
        = label_tag 'File :'
        = file_field_tag 'message[file]'
        %br
        = submit_tag "Send"
    - elsif @teacher
      = form_tag teacher_observer_message_create_class_room_messages_path(@class.id, @teacher.id),:multipart =>true  do

        = label_tag 'Title :'
        = text_field_tag 'message[topic]', nil, :placeholder => 'Enter the subject'
        %br
        = label_tag 'Body :'
        = text_area_tag 'message[body]', nil, :size => "25x10"
        %br
        = label_tag 'File :'
        = file_field_tag 'message[file]'
        %br
        = submit_tag "Save"
  - else
    = form_tag class_room_messages_path(@class.id),:multipart =>true  do

      = label_tag 'Title :'
      = text_field_tag 'message[topic]', nil, :placeholder => 'Enter the subject'
      %br
      = label_tag 'Body :'
      = text_area_tag 'message[body]', nil, :size => "25x10"
      %br
      = label_tag 'File :'
      = file_field_tag 'message[file]'
      %br
      = submit_tag "Send"
