%p#notice= notice

%p
  %b Title:
  = @note.title
%p
  %b Description:
  = @note.description

= link_to 'Edit', edit_class_room_note_path(@class.id, @note)
\|
= link_to 'Back', class_room_notes_path(@class.id)
