/- content_for :middle_content do
%table{:width => "50%"}
  %tr
    %td
      %b= @assignment.title
    %td{:align => "right"}
      - if current_user.is_teacher?
        = link_to "New", new_class_room_assignment_path(@class.id)
        | #{link_to "Edit", edit_class_room_assignment_path(@class.id, @assignment)} | #{link_to "Delete", class_room_assignment_path(@class.id, @assignment), :confirm => "Are you sure ?", :method => :delete}
  %tr
    %td{:colspan => "2"}
      From: #{@assignment.user.full_name}
      - unless vote_count(@assignment.id).eql?(0) or !current_user.is_teacher?
        = '('
        = vote_count(@assignment.id)
        = ')'
  %tr
    %td{:colspan => "2"}
      Date: #{date_format(@assignment.created_at)}
  %tr
    %td{:colspan => "2"}
      Category: #{@assignment.assignment_category.name rescue nil}

  %tr
    %td{:colspan => "2"}
      %hr{:noshade => ""}
  %tr
    %td{:colspan => "2"}
      = @assignment.description
      - if @assignment.user_id.eql?(current_user.id) or current_user.is_teacher? and !@assignment.file_updated_at.nil?
        = link_to @assignment.file_file_name,download_class_room_assignment_path(@class.id, @assignment.id)
        | #{link_to 'remove',remove_file_class_room_assignment_path(@class.id, @assignment.id), :confirm => "Are you sure ?", :method => :put}

  %tr
    %td{:colspan => "2"}
      %hr{:noshade => ""}
  %tr
    %td{:colspan => "3"}
      #comments_container
        - @assignment.comments.each do |comment|
          %table{:width => "100%"}
            %tr
              %td{:colspan => "3"}
                = "#{comment.user.full_name}"
                - unless vote_count(comment.id).eql?(0) or current_user.is_teacher?
                  = '('
                  = vote_count(comment.id)
                  = ')'
                  %br 
                = "#{date_format(comment.created_at)}"
            %tr
              %td
                = comment.comment
                
              %td{:align => "right"}
                - if current_user.id.eql?(comment.user_id)
                  = link_to "Edit", class_room_comment_edit_assignment_path(@class.id, @assignment, comment.id)
                  = '|'
                - if current_user.id.eql?(comment.user_id) or current_user.is_teacher?
                  = link_to "Delete", class_room_comment_destroy_assignment_path(@class.id, @assignment, comment.id), :method => :delete
                - unless vote_comment(comment).nil?
                  = 'Wee!!'
                - else
                  = link_to 'Weee!!',class_room_comment_vote_path(@class.id ,@assignment.id,comment,:commentable_type =>"#{params[:controller]}")


            %tr
              %td{:colspan => "3"}
                %hr{:noshade => ""}
- unless current_user.is_observer?
  %h1 Leave a comment
  = form_tag(comment_create_class_room_assignment_path(@class.id, @assignment)) do |f|
    .field
      = text_area_tag "comment", nil, :rows => 4, :cols => 40
    .actions
      = submit_tag "Add this Comment"
      %span#assignment_comment_ajax_loader{:style => "display: none"}= image_tag "LoaderIcon.gif"