#main_content_area
  %h6
    Posted #{distance_of_time_in_words(@assignment.created_at, Time.now)} ago
  %br
  %h3
    Due on
    = @assignment.due_date().strftime("%A, %B %d.")
  %h2
    != @assignment.title
  %br
  %td
    - if current_user.is_teacher?
      #{link_to "Edit", edit_class_room_assignment_path(@class.id, @assignment)} | #{link_to "Delete", class_room_assignment_path(@class.id, @assignment), :confirm => "Are you sure ?", :method => :delete}
  %tr
  %tr
  %tr
  %br
  %td
    Category: #{@assignment.assignment_category.name rescue nil}

  %tr
    %td{:colspan => "2"}
      %hr{:noshade => ""}
  %tr
    %td
      %h6!= @assignment.description
      - if @assignment.user_id.eql?(current_user.id) or current_user.is_teacher? and !@assignment.file_updated_at.nil?
        = link_to @assignment.file_file_name,download_class_room_assignment_path(@class.id, @assignment.id)
        | #{link_to 'remove',remove_file_class_room_assignment_path(@class.id, @assignment.id), :confirm => "Are you sure ?", :method => :put}

  %tr
    %td{:colspan => "2"}
      %hr{:noshade => ""}
  %tr
    %td{:colspan => "3"}
      #comments_container
        - @assignment.comments.each do |comment|
          %table
            %tr
              %td{:colspan => "3"}
                = "#{comment.user.full_name}"
<<<<<<< HEAD
                = "said on "
                = date_format(comment.created_at)
              %br
=======
                - unless vote_count(comment.id).eql?(0) or current_user.is_teacher?
                  = '('
                  = vote_count(comment.id)
                  = ')'
                  %br 
                = "#{date_format(comment.created_at)}"
>>>>>>> 2dcdf76bbce729e089f30a949aec35ec08717d38
            %tr
              %td= comment.comment
              %td{:align => "right"}
                - if current_user.id.eql?(comment.user_id) or current_user.is_teacher?
                  =link_to "Edit", class_room_comment_edit_assignment_path(@class.id, @assignment, comment.id)
                  =link_to "Delete", class_room_comment_destroy_assignment_path(@class.id, @assignment, comment.id), :method => :delete
            %tr
              %td{:colspan => "3"}
                %hr{:noshade => ""}

  - unless @current_user.is_observer?
    %h1 Leave a comment
    = form_tag(comment_create_class_room_assignment_path(@class.id, @assignment)) do |f|
      .field
        = text_area_tag "comment", nil, :rows => 4, :cols => 40
      .actions
        = submit_tag "Add this Comment"
        %span#assignment_comment_ajax_loader{:style => "display: none"}= image_tag "LoaderIcon.gif"
