- content_for :calendar_js_and_css do
  = stylesheet_link_tag "event_calendar"
  = javascript_include_tag "event_calendar"

/- content_for :middle_content do
.headings
  %h2 All Assignments
%table.assignments
  - @assignments.each do |assignment|
    %tr
      %tr.white
        %td
          = link_to assignment.title, comment_new_class_room_assignment_path(@class.id, assignment)
        %tr
          %td.due
            - unless Time.now > assignment.due_date
              = "This assignment is due on"
              = assignment.due_date().strftime("%A, %B %d.")
            -else
              ="This assignment was due on"
        %tr
          %td.assignments
            Posted #{distance_of_time_in_words(assignment.created_at, Time.now)} ago
        %tr
          %td.assignments_desc
            != assignment.description
        %tr
          %td
            - unless current_user.is_observer?
              = link_to "Add a comment", comment_new_class_room_assignment_path(@class.id, assignment)
            - else
              - if @student
                = link_to "Go to assignment", go_to_student_assignment_class_room_assignment_path(@class.id, assignment, @student.id)
              - elsif @teacher
                = link_to "Go to assignment", go_to_teacher_assignment_class_room_assignment_path(@class.id, assignment, @teacher.id)
            - if current_user.is_student? and (assignment.group_allowed? or !AssignmentStudent.where(user_id: current_user.id).first.blank?)
              = "|"
              = link_to "Do assignment", new_class_room_assignment_writeboard_path(@class.id, assignment)
            -unless vote_assignment(assignment).nil?
              = 'Weee!!'
            -else
              = link_to 'Weee!!',vote_up_class_room_assignment_path(@class.id ,assignment)
    %tr
      %td
%br/
= link_to 'New Assignment', new_class_room_assignment_path(@class.id) if current_user.is_teacher?