- content_for :calendar_js_and_css do
  = stylesheet_link_tag "event_calendar"
  = javascript_include_tag "event_calendar"

/- content_for :middle_content do
%br
%br
.headings
  %h1 Assignments
  %br
  %h2
    = link_to image_tag('new_assignment_button.png'), new_class_room_assignment_path(@class.id) if current_user.is_teacher?
    - unless current_user.is_observer? or  current_user.is_student?
      = link_to image_tag('edit_categories_button.png'),assignment_category_class_room_assignments_path(@class.id)
      
      
#user_content
  .tables
    %table.assignments
      %tr.white
        %th Assignment
        %th Due Date
        %th Posted
        %th Excerpt
        
      - @assignments.each do |assignment|
        %tr.desc
          - if @student
            %td!= link_to assignment.title, go_to_student_assignment_class_room_assignment_path(@class.id, assignment, @student.id)
          - elsif @teacher
            %td!= link_to assignment.title, go_to_teacher_assignment_class_room_assignment_path(@class.id, assignment, @teacher.id)
          - else
            %td!= link_to assignment.title, comment_new_class_room_assignment_path(@class.id, assignment)

            %td
              %center
                = assignment.due_date().strftime("%A, %B %d.")
            %td
              %center
                #{distance_of_time_in_words(assignment.created_at, Time.now)} ago
            %td.assignments_desc
              .textile
                != truncate(assignment.description, :length => 100, :separator => ' ')