#sitewrapper
  .header
    .nav
      %h1
        Already signed up?
        =link_to "Sign in", root_path
    .main
      .signup
        %h1 Sign up for the ClassCloud beta
        %br
        %h2
          You're only three clicks away from the paperless classroom!
        .form 
          = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            = devise_error_messages!
            %br
            %h3
              = "First name"
              = f.text_field :first_name
            %br
            %h3
              = "Last name"
              = f.text_field :last_name
            %br
            %h3
              = "Username"
              = f.text_field :username, :placeholder=>'use your email address'
            %br
            %h3
              = "Email"
              = f.email_field :email
            %br
            %h3
              = "Your password"
              = f.password_field :password
            %br
            %h3
              = "Confirm your password"
              = f.password_field :password_confirmation
            %br
            %h3
              = "Time zone"
              = time_zone_select("user", "time_zone", nil, :default => "Pacific Time (US & Canada)" )
            %br
            %h3
              /= "School:"
            %br
            %h3
              %div{:style=>"float:left"}
                /= "State :"
                /= select_tag "city", options_from_collection_for_select(@states,'id','name',params[:client]), :include_blank => true,:onchange=> "$('#city_name').load('/pages/city/'+this.value)"
              /%div#city_name{:style=>"float:left"}
              /  = "City :"
              /  = select("user","school_id",@states.collect {|p| [ p.city, p.id ] })
              /%div#school_name{:style=>"float:center"}
              /  = "Name :"
              /  = select("user","school_id",@states.collect {|p| [ p.schools.first.name, p.id ] })
            %br
            %h3
              = f.submit "Sign up", :class=>'submit'