=stylesheet_link_tag 'token-input.css'
=javascript_include_tag 'jquery.tokeninput.js'
<script type="text/javascript" src="http://use.typekit.com/zsr1ror.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript"> function woopraReady(tracker) {tracker.setDomain('classcloud.me'); tracker.setIdleTimeout(1800000); tracker.trackPageview({type:'pageview',url:window.location.pathname+window.location.search,title:document.title}); return false;} (function() {var wsc = document.createElement('script'); wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js'; wsc.type = 'text/javascript'; wsc.async = true; var ssc = document.getElementsByTagName('script')[0]; ssc.parentNode.insertBefore(wsc, ssc);})();</script>

#sitewrapper
  #container
    .wrapper


#main_content
  .headline
    .headline_text
      %h1 You're special. You're a teacher.
    .invite_text
      %br
      %br
      %h1
        We aren't inviting just anyone to use ClassCloud..
      %br
      %h2
        ClassCloud is currently in a private beta, which means, it isn't available to everyone yet.
        With your feedback, we're going to make ClassCloud into the new standard in classroom management
        and student interaction.
      %br
      %h1
        %center
          Oh, and it's free! (We thought you'd like that part!)
      %br
      .logo
        = image_tag "cclogo_xsmall.png"
    .sign_up
      %h2
        Just fill out this short form and you'll get a confirmation email to set up your classes.
      .form
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name),:multipart=>true) do |f|
          = devise_error_messages!
          %br
          %h3
            = "First name"
            = f.text_field :first_name
          %br
          %h3
            = "Last name"
            = f.text_field :last_name
          %br
          %h3
            = "Username"
            = f.text_field :username, :placeholder=>'use your email address'
          %br
          %h3
            = "Email"
            = f.email_field :email
          %br
          %h3
            = "Your password"
            = f.password_field :password
          %br
          %h3
            = "Confirm your password"
            = f.password_field :password_confirmation
          %br
          %h3
            = "Time zone"
            = time_zone_select("user", "time_zone", nil, :default => "Pacific Time (US & Canada)" )
          %br
          %br
          %h3

          %div#school_list
            %div{:style=>"float:left"}
              = "Country"
              = select_tag "country[name]", options_from_collection_for_select(@countries,'id','name',nil),:include_blank=>:true,:onchange=> "cityList(this.value,'country');"
            %div#state_name{:style=>"float:left;"}
            %div#city_name{:style=>"float:left;"}
            %div#school_name{:style=>"float:center;"}
            %div#loader{:style=>"display:none;float:left;"}
              = image_tag('ajax-loading.gif')
            %br
            %h3
              = 'If you not found your city and your school'
              = link_to 'Click here', '#', :onclick => "$('#school_name').hide();$('#user_school_name').show();$('#city_list').hide();"
          %div#user_school_name{:style=>"display:none;"}

            = 'City'
            = text_field_tag 'user[city2]',nil,:placeholder=>"enter your city"
            = 'School'
            = text_field_tag 'user[school]',nil,:placeholder=>"enter your school"
          %h3
            = f.submit "Sign up", :class=>'submit'


:javascript
$(document).ready(function () {
    $("#country_name2").tokenInput("/pages/country/", {tokenLimit:1,
       onAdd: function(item) {
         $('#country_name1').val(item.name);
       }
     })
});