%p#notice= notice

%p
  %b Title:
  = @discussion.title
%p
  %b Description:
  = @discussion.description
%p
  %b User:
  = @discussion.user_id

= link_to 'Edit', edit_class_room_discussion_path(@class.id, @discussion)
\|
= link_to 'Back', class_room_discussions_path(@class.id)
