%h2 Add a person
= form_for(@person, :url => class_room_people_path(@class.id), :html => { :method => :post }) do |f|
  - if @person.errors.any?
    #error_explanation
      %h2
        = pluralize(@person.errors.count, "error")
        prohibited this create user from being saved:
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.label :first_name
    %br
    = f.text_field :first_name
  %div
    = f.label :last_name
    %br
    = f.text_field :last_name
  %div
    = f.label :email
    %br
    = f.email_field :email
  %div
    = f.label :user_type
    %br
    = f.select :user_type, User::USER_TYPE, :include_blank => true
  %div= f.submit "Save"

%br


= link_to "Back", :back