<h2>Hi, <%= @person.first_name %></h2>

<%= form_for(@person, :url => save_username_and_password_path(:confirmation_token => @person.confirmation_token), :html => { :method => :post }) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this edit user from being saved:</h2>

      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :username, "Choose a username" %><br />
    <%= f.text_field :username %></div>

  <div><%= f.label :password, "Pick a password" %><br />
    <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Enter the password again" %><br />
    <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Create your account" %></div>
<% end %>
