=javascript_include_tag :defaults
%h2
  = "Hi,#{@person.first_name}"
= form_for(@person, :url => save_username_and_password_path(:confirmation_token => @person.confirmation_token), :html => { :method => :post }) do |f|
  - if @person.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@person.errors.count, "error")
        = 'prohibited this edit user from being saved:'

      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  %div
    = f.label :username, "Choose a username"
    %br
    = f.text_field :username

  %div
    = f.label :password, "Pick a password"
    %br
    = f.password_field :password

  %div
    = f.label :password_confirmation, "Enter the password again"
    %br
    = f.password_field :password_confirmation
    %br
    %h3
    = "Time zone"
    = time_zone_select("user", "time_zone", nil, :default => "Pacific Time (US & Canada)" )

  %div#school_list
    %div{:style=>"float:left"}
      = "State :"
      = select_tag "state[state]", options_from_collection_for_select(@states,'id','name',params[:client]), :include_blank => true
    %br
    %h3
      = 'If you not found your state'
      = link_to 'Click here', '#', :onclick => "$('#school_list').hide();$('#user_school_name').show();"
  %div#user_school_name{:style => "display:none"}
    %h3
      = "State"
      = text_field_tag "state[name2]", nil, :placeholder =>"enter your state"
      = "City"
      = text_field_tag "state[city2]", nil, :placeholder =>"enter your city"
      %br
  %h3
    %div= f.submit "Create your account"