%p#notice= notice
%h3 Title
= @meeting_room.title
%br
%h3 Description
= @meeting_room.description
%br
%div{:style=>"float:right;"}
  = @meeting_room.user.full_name
  = '(moderator)'
  %br
  - @user_meeting_rooms.each do |user_meeting_room|
    = user_meeting_room.user.full_name
    - if user_meeting_room.moderator?
      ='(moderator)'
    %br
%table
%tr
  %td{:colspan => "3"}
    #comments_container
      %br
      - @meeting_room.comments.each do |comment|
        %table{:width => "100%"}
          %tr
            %h6{:colspan => "3"}
              = "#{user_full_name(comment.user)}"
              - if @meeting_room.user_meeting_rooms.where("user_id =? AND moderator = ?",comment.user.id, true) or @meeting_room.user_id.eql?(current_user.id)
                = '(Moderator)'
              - unless vote_count(comment.id).eql?(0) or current_user.is_teacher?
                = "(#{vote_count(comment.id)})"
              said this #{distance_of_time_in_words(comment.created_at, Time.now)} ago:
          %tr
          %br
          %h4
            = comment.comment
            %td{:align => "right"}
              - if current_user.id.eql?(comment.user_id)
                = link_to "Edit", edit_meeting_room_comment_path(@meeting_room, comment.id)
              - if current_user.id.eql?(comment.user_id) or @user_meeting_room or @meeting_room.user_id.eql?(current_user.id)
                = link_to "Delete", destroy_meeting_room_comment_path(@meeting_room, comment.id), :method => :delete
              %br
            %hr
- unless @current_user.is_observer?
  %h1 Leave a comment
  = form_tag(comment_create_meeting_room_path(@meeting_room)) do |f|
    .field
      = text_area_tag "comment", nil, :rows => 4, :cols => 40
    .actions
      = submit_tag "Add this Comment"
      %span#assignment_comment_ajax_loader{:style => "display: none"}= image_tag "LoaderIcon.gif"