%body
  #container
    .header
      = link_to image_tag('cclogo_xsmall.png'), root_path
      
      .right
        %h3
          = "Hello, #{current_user.first_name}!"
          = "|"
          = link_to "Sign Out", destroy_user_session_path, :method => :delete
    
      %br
      %br
      
  #main_content
    .headline
      .testimonials
        %br
        %br
        %h1 Add a new class
        %br
      = form_for(@class_room, :url => class_rooms_path(:without_student => true), :html => {:method => :post, :multipart =>true}) do |f|
        %div
          - if @class_room.errors.any?
            #error_explanation
              %h2
                = pluralize(@class_room.errors.count, "error")
                prohibited this create class from being saved:
              %ul
                - @class_room.errors.full_messages.each do |msg|
                  %li= msg  
        = text_field_tag 'class_room[name][]'
        = f.submit "Save"
        %br
        %br
        %h2
          = link_to "Go back", root_path
        