- content_for :calendar_js_and_css do
  = stylesheet_link_tag "event_calendar"
  = javascript_include_tag "event_calendar"

/- content_for :bottom_content do
%br
%br
.headings
  %h1
    The Calendar
.above_calendar
  - if current_user.is_teacher?
    = link_to image_tag('add_event_button.png'), new_class_room_calendar_path(@class.id)
  .headline
    - unless current_user.is_observer?
      = raw(event_calendar)
    - else
      - if @student
        = raw(event_calendar(@student.id))
      - elsif @teacher
        = raw(event_calendar(@teacher.id, true))
