- content_for :calendar_js_and_css do
  = stylesheet_link_tag "event_calendar"
  = javascript_include_tag "event_calendar"

/- content_for :bottom_content do
- unless current_user.is_observer?
  = raw(event_calendar)
- else
  - if @student
    = raw(event_calendar(@student.id))
  - elsif @teacher
    = raw(event_calendar(@teacher.id, true))
%br
- if current_user.is_teacher?
  = link_to "New event", new_class_room_calendar_path(@class.id)
%br
%br
.main
  .myactivityfeed
    = "#{@class.name}'s activity feed"
  %table
    - @activity_streams.each do |activity_stream|
      - begin
        - actor = activity_stream.actor_type.constantize.find(activity_stream.actor_id)
        - object = activity_stream.object_type.constantize.find(activity_stream.object_id)
        %tr
          %td
            - if current_user.id.eql?(activity_stream.actor_id) or current_user.is_observer? or current_user.is_teacher?
              = date_feed_format(activity_stream, actor)
              = link_to "#{activity_stream.verb.gsub("_", " ")} #{activity_stream.activity} #{object.instance_eval(activity_stream.object_name_method)}", link_to_feed(@class.id,activity_stream.object_type ,activity_stream.object_id , activity_stream.verb.gsub("_", " "), activity_stream.actor_id)
      - rescue
        - if current_user.id.eql?(activity_stream.actor_id) or current_user.is_observer? or current_user.is_teacher?
          %strike= deleted_feed(activity_stream, actor)
          %br