%h2.align_centered Change your password

%div.align_centered
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token

    %div
      = f.password_field :password,{:placeholder=>'Your New Password'}

    %div
      = f.password_field :password_confirmation,{:placeholder=>'Confirmation Password'}

    %div
      = f.submit "Change my password"


  = render :partial => "devise/shared/links"