%h1 Student profile
%br
%br
%p
  = 'Name :'
  = @user.full_name
  %br
  = 'Class  :'
  = @class.name

%br
%table{:border =>'1'}
  %caption
    %b Student grade
  %tr
    %td Assignment
    %td grade
    %td date
    - @user.writeboards.each do |writeboard|
      %tr
        %td
          = link_to writeboard.title.html_safe, go_to_teacher_assignment_class_room_assignment_path(@class.id, writeboard, current_user.id)
        %td
          - unless writeboard.grade.nil?
            = writeboard.grade
        %td= writeboard.created_at

%h1 My student activity feed
%b= "#{@user.full_name}'s activity feed"
%br
%table
  - @activity_streams.each do |activity_stream|
    - begin
      - actor = activity_stream.actor_type.constantize.find(activity_stream.actor_id)
      - object = activity_stream.object_type.constantize.find(activity_stream.object_id)
      %tr
        %td
          - unless !activity_stream.actor_id.eql?(@user.id)
            = "#{activity_stream.created_at.strftime("%Y-%m-%d %H:%M")} #{actor.instance_eval(activity_stream.actor_name_method)} "
            = link_to  "#{activity_stream.verb.gsub("_", " ")} #{activity_stream.activity} #{object.instance_eval(activity_stream.object_name_method)}", link_to_feed(@class.id, activity_stream.object_type, activity_stream.object_id,activity_stream.verb.gsub("_", " "),activity_stream.actor_id)
    -rescue
      %strike= " #{date_format(activity_stream.created_at)} #{actor.instance_eval(activity_stream.actor_name_method)} deleted #{activity_stream.activity}"
      %br