= form_for @user_meeting_room do |f|
  -if @user_meeting_room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_meeting_room.errors.count, "error")} prohibited this user_meeting_room from being saved:"
      %ul
        - @user_meeting_room.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
