%h3 Edit School
%br
- if @state.nil?
  - country = @country
- else
  - country = @state
=form_tag update_school_admin_admin_path(country.id,:old_city=>@city,:school=>@school.id,:country_id=>@country.id),:method=>:put do
  %div#edit_school
    - if @country.name.eql?('USA')
      %h3 Country : #{@country.name}
      = hidden_field_tag 'country[name2]',@country.name
    - else
      %h3 Country
      = text_field_tag 'country[name]',@country.name,:placeholder=>"enter country name"
    %br
    %h3 State
    - if @country.name.eql?('USA')
      = select_tag "state[name]", options_from_collection_for_select(@states,'id','name',@state.id), :include_blank => true
    - else
      = text_field_tag 'state[name2]',@state.name,:placeholder=>"enter state name"
    %br
    %h3 City
    = text_field_tag 'city[name]',@city.name,:placeholder=>"enter city name"
    %br
    %h3 School
    = text_field_tag 'new_school[name]',@school.name,:placeholder=>"enter school name"
    %br
    = submit_tag 'Save',:onclick=>'checkFieldEditSchool();'
