%h1 new user
= form_tag admin_admins_path(@user.id),:method =>:post do
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this discussion from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = label_tag 'first_name'
  = text_field_tag 'user[first_name]'
  %br
  = label_tag 'last_name'
  = text_field_tag 'user[last_name]'
  %br
  = label_tag 'Email'
  = email_field_tag 'user[email]'
  %br
  = label_tag 'time zone'
  = time_zone_select 'user','time_zone',nil
  %br
  = label_tag 'User Type'
  = select("user", "user_type", { "Admin" => "admin", "Teacher" => "teacher", "Observer" => "observer"})
  %br
  = submit_tag 'Save'