/- content_for :middle_content do
%p#notice= notice

%p
  %b Title:
  = @to_do.title
%p
  %b Date:
  = @to_do.date
%p
  %b Description:
  = @to_do.description
%p
  %b Status:
  - if @to_do.status.eql?(true)
    = 'undone'
  - else
    = 'done'

= link_to 'Edit', edit_class_room_to_do_path(@class.id , @to_do)
\|
= link_to 'Back', class_room_to_dos_path(@class.id)
