<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to classcloud, <%= @user.first_name %> <%= @user.last_name%> </h1>
    <p>
      You are invited in clascloud,
      your name is: <%= @user.first_name %> <%= @user.last_name%>.<br/>
    </p>
    <p>
      To enter to the meeting room, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>