- content_for :head do
  %meta{:name => "description", :content => "ClassCloud gets the class into the Cloud. It's a cloud platform for managing classrooms and schools. It's like Facebook for schools. ..only better!"}
  %meta{:name => "keywords", :content => "education, cloud, schools, technology, classroom, teachers, internet, collaboration, Basecamp, Facebook, education management, free" }
  <script type="text/javascript" src="http://use.typekit.com/zsr1ror.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  /<!-- Start of Woopra Code
  <script type="text/javascript"> function woopraReady(tracker) {tracker.setDomain('classcloud.me'); tracker.setIdleTimeout(1800000); tracker.trackPageview({type:'pageview',url:window.location.pathname+window.location.search,title:document.title}); return false;} (function() {var wsc = document.createElement('script'); wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js'; wsc.type = 'text/javascript'; wsc.async = true; var ssc = document.getElementsByTagName('script')[0]; ssc.parentNode.insertBefore(wsc, ssc);})();</script>
  /<!-- End of Woopra Code -->
  
%body
#sitewrapper
  #container
    .wrapper
      .header
        .right
          %h3
            #{mail_to 'invites@classcloud.me', 'Request an Invitation'}
            |
            = link_to "Development Log", development_path
        .logo
          = image_tag "cclogo_small.png"
        .login
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            = f.text_field :login,{:placeholder=>'  ClassCloud ID',:class=>'email_field'}
            = f.password_field :password,{:placeholder=>'  Password',:class=>'password_field'}
            = f.submit "Sign in",{:class=>'submit'}
  
            .notice_launch
              = alert
              = render :partial => "devise/shared/links"
#main_content
  .headline
    .headline_text
      %h1 Make learning fun again.
    .subhead_text
      %h2
        ClassCloud is an incredible new way for teachers, students, parents and administrators
        to keep organized.
      %br
      = image_tag "bigredplane_desat.png"
    .invite_request
      %h2
        ClassCloud is currently free and by invitation only. If you want to spend less time with
        paperwork and more time teaching..
      %br
      %h1
        =link_to image_tag('invite.png'), "mailto:invite@classcloud.me?Subject=Invite%20me!"
    .headline_text
      %h2
        ClassCloud is the best choice for teachers who want to increase student interaction,
        raise performance and help students stay organized.
  .standard_text
    .testimonials
      %h1
        What our users are saying:
      %br
      %h2
        "I've never seen my child so excited about doing homework! ClassCloud is like Facebook,
        but actually useful."
      %h3
        %strong
          Parent of a 9th grade user
      %br
      %h2
        "It's much faster than Yahoo Groups. It's also so much easier to use. Students love it!"
      %h3
        %strong
          12th grade AP Literature teacher
      %br
      %h2
        "It's much better than having to write down and remember all of my assignments and exams.
        My teacher posts everything and I can check what I need to do from anywhere -- even from my
        phone. It's awesome."
      %h3
        %strong
          10th grade user
  