- content_for :head do
  %meta{:name => "description", :content => "ClassCloud gets the class into the Cloud. It's a cloud platform for managing classrooms and schools. It's like Facebook for schools. ..only better!"}
  %meta{:name => "keywords", :content => "education, cloud, schools, technology, classroom, teachers, internet, collaboration, Basecamp, Facebook, education management, free" }

#background
  .login_form
    %h4
      = link_to "Account Help", account_help_path
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %div
        = f.text_field :login,{:placeholder=>'  Class Cloud ID',:class=>'email_field'}
        = f.password_field :password,{:placeholder=>'  Password',:class=>'password_field'}
        = f.submit "Sign in",{:class=>'submit'}
  .notice_launch
    = alert
  %div{:style=> "text-align: center"}
  %div{:style=> "position: relative"}
    = image_tag "cc_landing.png", alt: "Are you ready for the paperless classroom? Welcome to ClassCloud!"
.main
  .myclasses
    %br
    %br
    %h1
      ClassCloud is like Facebook for schools.
    %h1{:style=> "margin-left: 425px"}
      \..only better.
    %br
    %h2
      %strong
        Teachers can:
    %h1{:style=> "margin-left: 128px"}
      Create assignments.
    %h1{:style=> "margin-left: 128px"}
      Post class notes and slides.
    %h1{:style=> "margin-left: 128px"}
      Manage the class calendar.
    %h1{:style=> "margin-left: 128px"}  
      Start discussions.
    %h1{:style=> "margin-left: 128px"}  
      Collaborate with students.
    %h1{:style=> "margin-left: 128px"}  
      Grade essays and homework.
    %h1{:style=> "margin-left: 128px"}
      Contact parents.
    %h1{:style=> "margin-left: 128px"}
      Conference with students.
    %h1{:style=> "margin-left: 128px"}
      Manage attendance.
    %h1{:style=> "margin-left: 128px"}
      Make announcements.
    %h1{:style=> "margin-left: 128px"}
      Post rich media.
    %br
    %h2
      %strong
        Students can:
      %h1{:style=> "margin-left: 128px"}
        Complete assignments
      %h1{:style=> "margin-left: 128px"}
        Start discussions
      %h1{:style=> "margin-left: 128px"}
        Manage homework and due dates
      %h1{:style=> "margin-left: 128px"}  
        Collaborate with classmates
      %h1{:style=> "margin-left: 128px"}  
        Talk to the teacher
      %h1{:style=> "margin-left: 128px"}  
        Review class notes
      %h1{:style=> "margin-left: 128px"}
        Write essays
      %h1{:style=> "margin-left: 128px"}
        Share rich media
      %h1{:style=> "margin-left: 128px"}
        View grades and teacher comments
      %br
      %br
    %h1
      ClassCloud is currently available by invitation only.
%br
%h2{:style=> "margin-right: 300px"}
  %h2{:style=> "margin-left: 72px"}
    If you're a teacher or a school administrator and you want to join the private beta of ClassCloud, contact Brian Dear at #{mail_to 'brian@classcloud.me'}.
%br
%div{:style=> "margin-bottom: 18px"}
= image_tag "cclogo.png"
%div{:style=> "margin-bottom: 36px"}
#info
  %h1
    = render :partial => "devise/shared/links"