.standard_text
  %h2 Editing #{user_full_name(@writeboard.user)}'s submission for #{@assignment.title}
  %br
  %h4 Created #{distance_of_time_in_words(@writeboard.created_at, Time.now)} ago.
  %br
  %h3 
  %hr
  %h1
    != @writeboard.title

  = render 'form'
  %br
  = link_to 'Go Back', class_room_writeboards_path(@class.id)
