.standard_text
  %h2 Editing Assignment for #{@assignment.title}
  %br
  %h4 Created by #{user_full_name(@writeboard.user)} #{distance_of_time_in_words(@writeboard.created_at, Time.now)} ago.
  %br
  %h3 
  %hr
  %h1
    != @writeboard.title

  = render 'form'

  = link_to 'Back', class_room_writeboards_path(@class.id)
