%br
%br
.headings
- if not (current_user.is_teacher? or current_user.is_observer?)
  .headings My CloudPads
-else
  .headings All CloudPads
%table.board
  %tr.blue
    %th Title
    %th Version
    %th Posted by
    %th.grade Grade

  - @writeboards.each do |writeboard|
    %tr
      %td! = truncate(writeboard.title, :length =>55, :separator => ' ')
      %td.grade
        = "#{'v.'}#{writeboard.version}"
      %td! = writeboard.user.full_name
      %td.grade
        = writeboard.grade
      - unless current_user.is_observer?
        %td!= link_to 'Read', class_room_writeboard_path(@class.id, writeboard.id)
        %td! = link_to 'Edit', edit_class_room_writeboard_path(@class.id, writeboard.id)
        %td! = link_to 'Destroy', class_room_writeboard_path(@class.id, writeboard.id), :confirm => 'Are you sure?', :method => :delete

- if not (current_user.is_teacher? or current_user.is_observer?)  
  %br
  %br
  .headings All Public CloudPads

  %table.board
    %tr.blue
      %th Title
      %th.grade Version
      %th.postedby Posted by

    - @public_class_writeboards.each do |writeboard|
      %tr
        %td! = truncate(writeboard.title, :length =>55, :separator => ' ')
        %td.grade
          = "#{'v.'} #{writeboard.version}"
        %td
          = writeboard.user.full_name
          - unless vote_count(writeboard.id).eql?(0) or current_user.is_teacher?  
            = '('
            = vote_count(writeboard.id)
            = ')'
        %td.show! = link_to 'Read', class_room_writeboard_path(@class.id, writeboard.id)
        - unless vote_writeboard(writeboard).nil?
          %td= 'Weee!!'
        - else
          %td= link_to 'Weee!!',vote_up_class_room_writeboard_path(@class.id ,writeboard)
 
  